body {
  font-family: "Poppins", sans-serif;
}
body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.logo {
  font-weight: 600;
  letter-spacing: 3px;
}
@media (min-width: 768px) {
  .newsletter {
    width: 45%;
  }
}
